<hr class="m-0 border-top border-2 border-secondary">
<div class="site-footer bg-white text-dark py-2">
   <div class="ui container">
     Se Liga Aluno 2025. Todos os alunos ligados.
   </div>
</div>