<%- include('./partials/header') %>
    <main>
      <div class="ui segment">
        <h1>Guia If</h1>
        <p>This is the Guia If route</p>
      </div>
    </main>
    <footer>
      <%- include('./partials/footer') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  </body>
</html>